
<div class="total">

    <app-menu-backoffice [page]="'picto'"></app-menu-backoffice>
  
  
    <div class="container">
  
      <section class="premiere">
        <div class="search-container">
          <h1 class="title"> Ajouter un pictogramme</h1>
        </div>
        <div class="add-picto">
          <button class="btn btn-primary" type="button" (click)="goBack()"> Retour</button>
        </div>
      </section>
  
      <app-back-office-form-picto [picto]="picto" [is_create]="true"></app-back-office-form-picto>
  
    </div>
  </div>
  
  
  
  
