<app-nav-bar></app-nav-bar>
<section id="newspaper">
    <h1>Actualités</h1>
    <div class="container">
        <div class="row">
          <div class="col col-12 col-lg-4 col-xl-4 col-xxl-3" *ngFor="let actu of actualites">
            <div class="card" >
                <div class="img-div" (click)="goToArticle(actu.id)">
                    <img src="{{actu.image}}" class="card-img-top" alt="">
                    <div class="voir-plus">
                        Voir plus
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{actu.titre}}</h5>
                    <p class="card-text">{{actu.description}}</p>
                    <a class="voir-plus" style="cursor: pointer;" (click)="goToArticle(actu.id)">
                        Voir plus
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<app-footer></app-footer>