<form [formGroup]="themeForm">
  <section class="themes" >
    <div class="input-group col col-6">
      <input type="text" class="form-control" placeholder="Nom du thème" [value]="theme?.name">

    </div>
  </section>

  <section class="type container" >
    <div class="row">
      <div class="input-group col col-6" *ngFor="let type of theme.types" >
        <input type="text" class="form-control" placeholder="NOm du type" [value]="type?.name" >
        <button class="btn btn-outline-secondary" type="button" (click)="updateType(type)" >Valider</button>
        <svg (click)="deletetype(type.id)" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
        </svg>
      </div>
    </div>

    <div class="add-actuality">
      <div class="input-group mb-3">
        <input type="text" class="form-control" formControlName="nouveauNom" placeholder="Nouveau nom du type">
        <button class="btn btn-primary" type="button" (click)="createType()">Ajouter un nouveau type</button>
      </div>

      <button class="btn btn-primary" type="button" (click)="updateTheme()" *ngIf="!is_create">Mettre à jour</button>

      <button class="btn btn-primary" type="button" (click)="createTheme()" *ngIf="is_create">Creer Theme</button>

    </div>





  </section>


</form>
