

<div class="background-image">
<div class="contact-form">

  <div class="container">
    <div class="main">
      <div class="content">
        <h2>Contactez-Nous</h2>
        <form action="#" method="post">
          <input type="text" name="name" placeholder="Enter Your Name">

          <input type="email" name="name" placeholder="Enter Your Email">
          <textarea name="message" placeholder="Your Message"></textarea>
          <button type="submit" class="btn">Send <i class="fas fa-paper-plane"></i></button>
        </form>
      </div>
      <div class="form-img">
        <img src="assets/dahu.png" alt="">
      </div>
    </div>
  </div>
</div>
</div>
