<div class="background">
  <img class="background-image" src="./assets/Grenoble%20depuis%20la%20Bastille%20basse%20def_2.jpg" alt="Image de fond">

  <section class="section">
    <h1 class="title">Bienvenue sur le back-office</h1>
    <div class="container">
      <div class="square" (click)="activite()"> <p >Activités </p></div>
      <div class="square" (click)="actualite()"> Actualités </div>
      <div class="square" (click)="theme()">  Thèmes</div>
      <div class="square" (click)="goToListeAvis()">  Avis</div>
      <div class="square"  (click)="pictogrammes()" > Pictogrammes</div>
    </div>
  </section>
</div>
